---

---

<header>
  <div class="flex flex-wrap items-center justify-between">
    <div>
      <a href="/">
        <h1>astro-tailwind-starter</h1>
      </a>
    </div>
    <div>
      by
      <a
        href="https://www.ryotahagihara.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Ryota Hagihara
      </a>
    </div>
  </div>

  <div class="not-prose my-2 flex flex-wrap items-center gap-2">
    <img
      src="https://img.shields.io/badge/Astro-0C1222?style=for-the-badge&logo=astro&logoColor=FDFDFE"
      alt="Astro"
      class="h-6"
    />
    <img
      src="https://img.shields.io/badge/TypeScript-007ACC?style=for-the-badge&logo=typescript&logoColor=white"
      alt="TypeScript"
      class="h-6"
    />
    <img
      src="https://img.shields.io/badge/Tailwind_CSS-38B2AC?style=for-the-badge&logo=tailwind-css&logoColor=white"
      alt="Tailwind CSS"
      class="h-6"
    />
    <img
      src="https://img.shields.io/badge/Cloudflare-F38020?style=for-the-badge&logo=Cloudflare&logoColor=white"
      alt="Cloudflare"
      class="h-6"
    />
    <img
      src="https://img.shields.io/badge/prettier-1A2C34?style=for-the-badge&logo=prettier&logoColor=F7BA3E"
      alt="Prettier"
      class="h-6"
    />
    <img
      src="https://img.shields.io/badge/eslint-3A33D1?style=for-the-badge&logo=eslint&logoColor=white"
      alt="ESLint"
      class="h-6"
    />
    <img
      src="https://img.shields.io/badge/MIT-green?style=for-the-badge"
      alt="MIT"
      class="h-6"
    />
  </div>
</header>
