---

---

<header>
  <div class="flex flex-wrap items-center justify-between">
    <div>
      <a href="/">
        <h1>astro-tailwind-starter</h1>
      </a>
    </div>
    <div>
      by
      <a
        href="https://www.ryotahagihara.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Ryota Hagihara
      </a>
    </div>
  </div>
</header>
